.profile {
    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__box {
        background-color: #fff;
        margin: 0 0 15px 0;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        padding: 0 0 30px 0;
    }

    &__backround {
        position: relative;
    }

    &__icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1;
    }

    &__icon__flow {
        color: white;
        background-color: rgb(48, 48, 233);
        width: 100px;
        font-size: 13px;
        border: none;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 3px;
        margin: 0 10px 0 0;
    }
    &__icon__rp {
        @extend .profile__icon__flow;
        background-color: brown;
    }

    &__img {
        background-image: url("../../../public//asia.jpg");
        border-radius: 0px 0px 20px 20px;
        padding: 20% 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
    }

    &__user {
        position: relative;
        padding: 20px 0 0 134px;
        margin: 0 0 0 30px;
    }

    &__avatar {
        background-image: url("../../../public//asia.jpg");
        left: 0;
        padding: 0;
        position: absolute;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        bottom: -20px;
        border: 5px solid #e5e5e5;
    }

    &__name {
        margin: 0 0 0 65px;
        color: #7a7a7a;
        font-size: 1.2rem;
    }

    &__location {
        margin: 0 0 5px 0;
        font-size: 1rem;
    }

    &__menu {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #ddd;
    }

    &__detail {
        padding: 10px;
    }

    &__menu__tab {
        min-width: 70px;
        text-align: center;
        margin: 5px 8px 10px 1px;
        padding: 10px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
    }

    &__active {
        background-color: orange;
        border-radius: 10px;
    }

    &__album {
        display: flex;
        flex-wrap: wrap;
    }

    &__album__item {
        width: 33.33%;
    }

    &__album__img {
        margin: 0 10px 0 0px;
        height: 100%;
        width: 100%;
    }
}

.slick-prev,
.slick-next {
    background-color: red;
}
